# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# PyInstaller
*.manifest
*.spec

# IDE
.idea/
.vscode/

# Environment
venv/
env/
.env

# Local development
*.sqlite3
.DS_Store